<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <p th:text="'Your search type was: ' + ${searchType}"></p>
    <p th:text="'Your search term was: ' + ${searchTerm}"></p>
    <h3><p th:text="'Listings: ' + ${jobs.size()} + ' !'"></p></h3>
    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <!--Turn this into a fragment and implememnt it here and also in list? -->


    <div th:each="map: ${jobs}">
    <table class="job-listing" >

        <tr th:each="row : ${map}">
            <td th:text="${row.key}"></td>
            <td th:text="${row.value}"></td>

        </tr>
        <hr/>
    </table>
    </div>

</div>

</body>
</html>